.homeContainer {
    display: flex;
    justify-content: space-around;
    background: #263d4b;
    width: 100%;
    min-height: calc(100vh - 100px);
    height: fit-content;
    color: #fff;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-inline: 5vw;
    position: relative;
}




.text {
    width: 35vw;
}

.h1 {
    font-size: clamp(30px, 5vw, 42px);
    color: #fff;
    text-shadow: 5px 5px 10px rgba(28, 250, 213, 0.2);
    font-family: 'Lato',sans-serif;
    font-weight: 900;
    padding-top: 50px;
    padding-bottom: 30px;
    line-height: 50px;
}


.lead {
    font-size: 24px;
    font-family: 'Lato',sans-serif;
    font-weight: 400;
    color: #000;
    opacity: .8;
    margin-bottom: 1.8rem;
}

.certiBtn {
    text-decoration: none;
    font-weight: 400;
    font-size: 19px;
    line-height: 1.5;
    background: #1b658f;
    color: #fff;
    font-weight: 700;
    display: inline-block;
    padding: 10px 20px 10px 25px;
    position: relative;
    overflow: hidden;
    border-left: 6px solid #dfdd1e;
    box-shadow: 4px 4px 8px rgba(0,0,0,.2);
    z-index: 5;
    transition: all 0.4s linear;
}

.certiBtn:hover {
    background: rgb(100, 92, 92);
}

.jobBg, .h1, .certiBtn, .lead {
    animation: 2s linear 0s infinite alternate animating-multiple-properties;
}

@keyframes animating-multiple-properties {
    from {
      transform: translateY(5vh);
      filter: brightness(75%);
      transform: scale(1.02);
    }
    to {
      transform: translateY(0);
      transform: scale(1);
    }
  }

@media (max-width: 868px) {
    .homeContainer {
        min-height: calc(100vh - 500px);
        padding-top: 5rem;
    }
    .text{
        width: 60vw;
    }
}



@media (max-width: 768px) {

    .homeContainer {
        flex-direction: column;
        padding-top: 0;
    }
    
    .text {
        width: 90vw;
        display: flex;
        flex-direction: column;
    }

    .h1 {
        line-height: 2rem;
    }

    .lead {
        font-size: 19px;
    }

    .certiBtn{
        display: flex;
        justify-content: center;
        z-index: 1;
    }
}

